.card {
    display: inline-block !important;
    margin:10px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);

}

.card a{
    margin-bottom: 5px;
}

#front-img{
    display: block;
  width:500px;
  padding-bottom: 0.5%;
  margin:auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #front-img{
        display: block;
      width:300px;
      padding-bottom: 0.5%;
      margin:auto;
    }
     #card-library{
    margin:auto;
    width:330px;
    height: 70%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #front-img{
        display: block;
      width:300px;
      padding-bottom: 0.5%;
      margin:auto;
    }
     #card-library{
    margin:auto;
    width:660px;
    height: 70%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
     #card-library{
    margin:auto;
    width:660px;
    height: 70%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #front-img{
        display: block;
      width:500px;
      padding-bottom: 0.5%;
      margin:auto;
    }
     #card-library{
    margin:auto;
    width:990px;
    height: 70%;
    }
} 

@media only screen and (min-width: 1500px) {
    #front-img{
        display: block;
      width:500px;
      padding-bottom: 0.5%;
      margin:auto;
    }
     #card-library{
    margin:auto;
    width:1320px;
    height: 70%;
    }
} 

