
button{

    border: none; 
    background: none;
}




.editInPlace {
    margin-left: 10px;
    text-align: left;
    color:#aaa;
    font-weight:700;
}

#topnav button{
    color:#fff;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    margin-bottom: 5px;

}



#topnav button:active, #topnav button:hover{
    color:#155724;
}

#setting button:active, #setting button:hover{
    color:#aaa;

}

#add-state-button:active, #add-state-button:hover{
    background-color:#f9af48 !important;
    color:#fff;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
}

.window-title{
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    color:#ffc107;
}

#add-scene{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#add-interaction{
    position: absolute;
    bottom: 10px;
    right: 10px;
}


#gallery-title h6:hover{
   color:#f9af48;
}

#object-list-title h6:hover{
   color:#f9af48;
}

#gallery-title:focus{outline: none !important;}
#object-list-title:focus{outline: none !important;}
#add-state-button:focus{outline: none;}
#add-scene-button:focus {outline:none;}
#add-interaction-button:focus {outline:none;}
#close-icon-button:focus {outline:none;}
#close-button:focus {outline:none;}
#run-button:focus {outline:none;}
#build-button:focus {outline:none;}
#save-button:focus {outline:none;}
#save-change-button:focus {outline:none;}
#setting-button:focus {outline:none;}
#design-button:focus {outline:none;}
#code-button:focus {outline:none;}

#brand{
    color:#ffc107;
    margin-top:5px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 25px;
}

#brand:link{
    outline: none;
    text-decoration: none;
    text-decoration-style: none;
}

#topnav {
    background-color: #28a745;
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
   
}


.nav-item a {

    color: #28a745;
    margin-left: 10px;
    margin-right: 10px;

}

.nav-item a:hover{
    color: #155724;
    margin-left: 10px;
     margin-right: 10px;
}

#first-column-second-row{
    background-color: #FFF;
    position: absolute;
    height: 450px;
    bottom: 0;
    left: 0;
    width: 720px;
}
/*
#gallery {
    background-color: #FFF;
    position: absolute;
    height: 450px;
    bottom: 0;
    left: 0;
    width: 720px;
    
}
*/
#gallery-title{
    display: inline-block;

}
#object-list-title{
    display: inline-block;
}

#gallery ul{
   

    padding: 0;
}


#gallery li{
   list-style: none;
   

}

#tabList{
     display: inline-block;
     position: absolute;
     top:50px;
     left:10px;
     
}
#tabContent{
    position: absolute;
    top:40px;
    left: 130px;
    
    right: 10px;
    display: inline-block;

}

.assets{
    border-radius: 10px;
    background-color: #eee;
    margin:10px;
    min-height:350px;
   /* 
    width: 560px;
*/


    overflow-y: auto;

}
.assets ul{
    margin:0;
}

.assets li{
    display: inline-block;
    text-align: center;
    width: 85px;
    height: 85px;
    margin: 0;
    padding: 0;
   
}
.assets p{
    margin:0;
    font-size: 0.7em;
}
.assets img{
   
   
    margin: 10px;
    max-width: 60px;
    max-height: 60px;
   
}


.asset {
    margin:7px; /* 5px */
    border-radius: 10px;
     background-color: #ccc;
     width:80px;
     height: 80px;
}

#door-tab.active{
    color: #ffffff;
    background-color: #28a745;
    
   

    margin-left: 10px;
     margin-right: 10px;

}


#key-tab.active{
    color: #ffffff;
    background-color: #28a745;
     
    margin-left: 10px;
     margin-right: 10px;
}


#container-tab.active{
    color: #ffffff;
    background-color: #28a745;
     
    margin-left: 10px;
     margin-right: 10px;
}


#actor-tab.active{
    color: #ffffff;
    background-color: #28a745;
    /* width:50%;*/
    margin-left: 10px;
     margin-right: 10px;
}


#code-library {
    background-color: #FFF;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 220px;
  
}
#first-column{
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0; /* 200 + 6*/;
    width:720px;
    overflow: hidden;

    
}
#second-column{
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 726px; /* 200 + 6*/;
    right: 256px;
    overflow: hidden;

    
}
#third-column{
    background-color: #EEE;
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    width: 250px;
   /* overflow: auto; */
}
#design-editor {
    position: absolute;
    
    width: 720px;
    bottom: 450px;
    left: 0;
    top:0;
    right: 0;
    overflow: auto;
    background-color: #fff;
}

#interaction-editor {
    position: absolute;
    top: 0;
    bottom:0; /* 130 + 6 */
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: auto;
}

#interaction-box-close{

    width:15px;
    height: 15px;
    float:right;
    margin-top:7px;
    margin-right: 7px;

}

#interaction-box-close:hover {
    opacity:0.5;
}
.interaction-box{
    /*min-width: 300px;
    width: 300px;
    */
    display: inline-block;
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
    border-color: #aaa;
    background-color: #fff;
}


.interaction-box span{

    width: 100%;

}

.event-box{
    padding:10px;
    border-radius: 10px;
    list-style: none;
    background-color: #eee;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 50px;
}
.condition-box{
    padding:10px;
    border-radius: 10px;
    list-style: none;
    background-color: #eee;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 50px;
}
.reaction-box{
    padding:10px;
    border-radius: 10px;
    list-style: none;
    background-color: #eee;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 50px;
}
#interaction-library{
     position: absolute;
    top: 0;
    bottom: 356px; /* 130 + 6 */
    left: 0;
    right: 0;
    background-color: #fff;
}


.badge-pill{
   padding-right:12px !important;
   padding-left:12px !important;
   padding-top: 7px !important;
   padding-bottom: 7px !important;
   margin-bottom: 5px; /*create gap between actions */
}


.badge-event{
    min-width: 200px;
     text-align: left !important;
    background-color: #ef5b34;
    color:#fff;
    font-size: 0.8em !important;
}
.badge-state{
    min-width: 200px;
     text-align: left !important;
    background-color: #f9af48;
    color:#fff;
    font-size: 0.8em !important;
}

.badge-reaction{
    min-width: 200px;
     text-align: left !important;
    background-color: #28a745;
    color:#fff;
    font-size: 0.8em !important;
}

#event-list{
    background: #eee;
    border-radius: 10px;
    list-style: none;
    margin: 10px;
    padding: 10px;
    max-height: 150px;
    overflow: auto;

}

#event-list li{
    padding-bottom:5px;
}
#state-library h6{
    display: inline-block;

}
#add-state{
    display: inline-block;
    right: 5px;
    bottom:0;
}
#add-state-button{
   

    
    border-style: solid;
    border-width:thin;
    margin:5px;

   
    background-color: #fff;
    border-color:#f9af48;
    color:#f9af48;
    font-size: 0.8em !important;
}
#state-list{
    border-radius: 10px;
    background: #eee;
    list-style: none;
    margin: 10px;
    padding: 10px;
    max-height: 150px;
    overflow: auto;



}
#state-list li{

    padding-bottom:5px;
}

#reaction-list{
    border-radius: 10px;
    background: #eee;
    list-style: none;
    margin: 10px;
    padding: 10px;
    max-height: 400px;
    overflow: auto;

}
#reaction-list li{
    padding-bottom:5px;
}

/*
#design-object-list{
    position: absolute;
    top: 0;
    bottom: 356px; 
    left: 0;
    right: 0;
    background-color: #fff;
   
}
*/

.object-tree {
    background-color: #eee;
    position: relative;
    overflow: auto;
     padding: 10px;
     border-radius: 10px;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 10px;
    min-height: 350px;

}

.object-tree ol{
    padding-left: 10px;
}

.object-tree li {
   list-style: none;   
   font-size: 0.8em;
   margin:0;       /* all list item li dots invisible */
}

.object-tree li .object_label + input[type=checkbox] {
      opacity: 0;             /* checkboxes invisible and use no space */
     }                        /* display: none; is better but fails in ie8 */

.object-tree li .object_label {
      cursor: pointer;        /* cursor changes when you mouse over this class */
    }                         /* could add the many user-select: none; commands here */

.object-tree li .object_label + input[type=checkbox] + ol > li
         {
            display: none;         /* prevents sublists below unchecked labels from displaying */
         }

.object-tree li .object_label + input[type=checkbox]:checked + ol > li
         {
           display: block;         /* display submenu on click */
         }

#design-property{
    position: absolute;
    height: 350px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: auto;
}
#code-preview {
    position: absolute;
    top: 0;
    bottom: 456px; /* 130 + 6 */
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: auto;
}

#code-content {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 226px /* 200 + 6*/;
    right: 256px;
    overflow: hidden;
 
    
}

#code-editor {
    position: absolute;
    height: 450px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: #fff;
}

#code-side-common{
    background-color: #FFF;
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    width: 250px;
   /* overflow: auto; */
}


#code-object-list{
     position: absolute;
    top: 0;
    bottom: 356px; /* 130 + 6 */
    left: 0;
    right: 0;
    background-color: #fff;
    /* overflow: auto; */
}


.property-img {
    max-width: 70px;
    max-height: 70px;
    min-width: 10px;
    min-height: 10px;

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
}


.property-img-bg{
    position: relative;
    margin-right:10px;
    margin-left: 10px;
    margin-bottom: 10px;
    top:0;
    border-radius: 10px;
    height: 90px;
    background-color: #ccc;
}

.property-info ul{
    background-color: #eee;
    position: relative;
    border-radius: 10px;

    margin-left:10px;
    margin-right: 10px;
    min-height: 150px;
    padding: 12px;
}

.property-info li{
    font-size: 0.8em;
    list-style: none;
    
   padding-bottom: 8px;
    
}


.property-input{
    float: right;
}

.property-info input{
    width: 30px;
 
    
}



.property-info input:focus{
    outline: none;
}

#code-property{
    position: absolute;
    height: 350px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
     background-color: #fff;
}
#first-second-resizer {
    background-color: #EEE;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 720px;
    width: 6px;
    cursor: e-resize;
}
#second-third-resizer{
    background-color: #EEE;
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 250px;
    width: 6px;
    cursor: e-resize;
}

#code-side-resizer{
    background-color: #EEE;
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 250px;
    width: 6px;
    cursor: e-resize;
}

#design-editor-resizer {
    position: absolute;
    height: 6px;
 
    bottom: 450px;
    left: 0;
    right: 0;
    background-color: #EEE;
    cursor: n-resize;
}
#code-library-resizer {
    background-color: #EEE;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 220px;
    width: 6px;
    cursor: e-resize;
}
#design-property-resizer {
    position: absolute;
    height: 6px;
    bottom: 350px;
    left: 0;
    right: 0;
    background-color: #EEE;
    cursor: n-resize;
}
#code-property-resizer {
    position: absolute;
    height: 6px;
    bottom: 350px;
    left: 0;
    right: 0;
    background-color: #EEE;
    cursor: n-resize;
}

#code-editor-resizer {
    position: absolute;
    height: 6px;
    bottom: 450px;
    left: 0;
    right: 0;
    background-color: #EEE;
    cursor: n-resize;
}

#gallery-resizer:hover,
#code-library-resizer:hover,
#design-side-resizer:hover, 
#code-side-resizer:hover,
#design-editor-resizer:hover,
#code-editor-resizer:hover,
#design-property-resizer:hover,  
#code-property-resizer:hover {
	background-color: #AAA;
}