button{
	border: none; 
	background: none;
}

#design-button:focus {outline:none;}
#code-button:focus {outline:none;}

/* nav bar attributes */
#top-navbar{

	background-color: #28a745;

}

#brand{
	color:#ffc107eb;
}

/* nav bar end*/

/* general body info */
.window-title{
	margin-top:5%;
	text-align: left;
	color:#ffc107eb;
}

.assets{
	height:400px;
	overflow-y: scroll;
}

#design-view{
	margin-top:1%;
}

#code-view{
	margin-top:1%;
}

#scene-view{
	
	background-color: #e9ecef;
}

#code-editor{
	height: 67%;

	background-color: #e9ecef;
}

#preview{
	height: 30%;
	margin-top:1%;
	background-color: #e9ecef;
}

#things-list{
	height: 50%;
	margin:1%;
	background-color: #e9ecef;
}
#properties{
	height: 15%;
	margin: 1%;
	background-color: #e9ecef;
}
#game-attribute{
	height: 15%;
	margin:1%;
	background-color: #e9ecef;
}
/* general body info end */


/* Gallery tab + Code tab */
.nav-item a {
	color: #28a745;
}

.nav-item a:hover{
	color: #155724;
}
/* Gallery tabs */


#door-tab.active{
	color: #ffffff;
	background-color: #28a745;
}


#key-tab.active{
	color: #ffffff;
	background-color: #28a745;
}


#container-tab.active{
	color: #ffffff;
	background-color: #28a745;
}


#actor-tab.active{
	color: #ffffff;
	background-color: #28a745;
}

/* Gallery tabs  end*/

/* Code library tabs */
#door-block.active{
	color: #ffffff;
	background-color: #28a745;
}

#key-block.active{
	color: #ffffff;
	background-color: #28a745;
}

#container-block.active{
	color: #ffffff;
	background-color: #28a745;
}

#actor-block.active{
	color: #ffffff;
	background-color: #28a745;
}

/* Code library tabs end */