<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Alice Adventure</title>
    <script type="text/javascript" src="../../Resources/vue.js"></script>
    <script type="text/javascript" src="../scripts/index.js"></script>
  </head>
  <body onload="InitAllViews()">
    <h1>This is Alice Adventure main project</h1>
    <button onclick="LoadAsset()">Load Asset</button>
    <div id="scene-view"></div>
    <div id="property-view">
      <table v-if='showProperty'>
        <tr>
          <td>name</td>
          <td><input v-model='bindObj.name'/></td>
        </tr>
        <tr>
          <td>x</td>
          <td><input v-model='bindObj.sprite.x'/></td>
        </tr>
        <tr>
          <td>y</td>
          <td><input v-model='bindObj.sprite.y'/></td>
        </tr>
        <tr>
          <td>active</td>
          <td><input type="checkbox" v-model='bindObj.sprite.visible'/></td>
        </tr>
        <tr v-for='property in bindObj.properties'>
          <td>{{ property }}</td>
          <td><input v-model='bindObj.properties[property]'/></td>
        </tr>
      </table>
      <p v-else>Please select an object</p>
    </div>
  </body>
</html>
