<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title> Welcome to Alice's Adventure </title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/layout.css">
    <!-- Bootstrap CSS -->

    <script>document.write('<base href="' + document.location + '" />');</script>

   
   <link rel="stylesheet" href="../../Resources/bootstrap.min.css"/>
  <script type="text/javascript" src="../../Resources/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="../../Resources/modal.js"></script>
  <script type="text/javascript" src="../../Resources/util.js"></script>
  <script type="text/javascript" src="../../Resources/vue.js"></script>
  <script type="text/javascript" src="../Scripts/index.js"></script>
	 <script type="text/javascript" src="js/tutorial.js"> </script>
 <script type="text/javascript" src="js/switch.js"> </script>
 <script src="js/interact.js"></script> 
 <script src="js/drag.js"></script>
</head>

<style rel="stylesheet">
.sys-button{
  
 padding:1%;

  display: block;
  float: right;
  margin-right: 5%;
  margin-top:8%;
   color:#fff;
   font-weight: 480;
   font-size: 1.8em;
}

.sys-button:focus{
  outline: none;
}

.sys-button:hover {
  opacity: 0.5;
}
</style>
<body style="background-color:#28a745;">
  <div id="step_1" style="
  display: block;
  margin-top:10%;
  margin-left:2%;

  ">
  
  <p>
    <h6 class="window-title" style="display: inline-block; color:#ffc107; font-size: 1.5em !important;">Where does the story happen?</h6> <img style="cursor: pointer; width:30px; height: 30px; margin-left:1%; display: inline-block;" src="src/plus.png"/>
    <div class="table-responsive">
    <table class="table table-bordered" id="table1">
      <thread>
      <tr>
        <th > #
        </th>
        <th  >background name
        </th>
      </tr>
      </thread>
      <tbody>
        <tr>
          <td> 1
          </td>
          <td contenteditable="true"> hello world
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </p>

  <p>
    <h6 class="window-title" style="display: inline-block; color:#ffc107; font-size: 1.5em !important;" >Who are the characters in your game?</h6><img style="cursor: pointer; width:30px; height: 30px; margin-left:1%; display: inline-block;" src="src/plus.png"/>
    <div class="table-responsive">
     <table class="table table-bordered" id="table2">
      <thread>
      <tr>
        <th > #
        </th>
        <th> where is the character?
        </th>
        <th> character name
        </th>
      </tr>
     
       
      </thread>
      <tbody>
        <tr>
          <td> 1
          </td>
          <td contenteditable="true"> hello world
          </td>
          <td contenteditable="true"> Alice
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </p>

  <p>
    <h6 class="window-title" style="display: inline-block; color:#ffc107;font-size: 1.5em !important;">What kind of items do you need in your game?</h6><img style="cursor: pointer; width:30px; height: 30px; margin-left:1%; display: inline-block;" src="src/plus.png"/>
    <div class="table-responsive">
     <table class="table table-bordered" id="table3">
      <thread>
      <tr>
        <th > #
        </th>
        <th  > where is the item?
        </th>
        <th  > item name          
        </th>
      </tr>
      </thread>
      <tbody>
        <tr>
          <td> 1
          </td>
          <td  contenteditable="true" > hello world
          </td>
          <td  contenteditable="true" > book
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </p>
	
  
   <button class="sys-button" onclick="goSkip()"> Skip </button>
   <button class="sys-button" onclick="goToNext()" > Next </button>
 </div>


 <div id="step_2" style="
  display: none;
  margin-top:10%;
  margin-left:2%;

  ">
  
  <p>
    <h6 class="window-title" style="display: inline-block; color:#ffc107; font-size: 1.5em !important;">Let's decorate the scenes!</h6> 
   </p>
   <div style="margin-right:100px;">
   <div id="design-editor" style=" float: left;margin:10px; position: relative !important; display: inline-block !important; height:500px; width: 48% !important;">
            <h6 class="window-title">SCENE EDITOR</h6>            
        <!--DO NOT DELETE THIS, for canvas initialization. Can add style for it-->
        <div id="canvas-container" v-on:dragover='assetDragover(event)' v-on:drop='assetDrop(event)'></div>

        <div id="add-scene">
          <button type="button"  class="btn btn-outline-success btn-sm" id="add-scene-button" v-on:click='addScene()'> Add Scene</button></div>
      </div>
     

      <div id="gallery" style="float: left; position: relative !important; display: inline-block !important; height:500px !important; width: 30% !important; margin:10px;">
            <h6 class="window-title" >GALLERY</h6>
            <div id="tabList">
              <ul >
                <li class="nav-item"><a onclick="switchCategoryView()"  href="#door-asset" aria-controls="door-asset" class="selected">
                Images</a></li>
                <li class="nav-item"><a onclick="switchCategoryView()" href="#key-asset"  aria-controls="key-asset" class="unselecteds">Sounds</a></li>
                <!--<div class="tab-list" id="tabList">
                <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"-->
              </ul>
            </div>
            <div id="tabContent">
              <div id="door-asset" style="display: block;">
                <div class="assets">
                  <ul>
                  <!-- bind the gallery data -->
                    <li draggable="true" v-on:drag='imageDragstart(event, img)' v-for="img in images" v-on:click="chooseObj(img)"> <div class="asset"><img draggable="false" v-bind:src="'../../'+img.src"> </div><p v-html='img.name'></p>
                    </li>
                    <li draggable="true" v-on:drag='imageDragstart(event, img)' v-for="img in importedImages" v-on:click="chooseObj(img)"> <div class="asset"><img draggable="false" v-bind:src="img.src"> </div><p v-html='img.name'></p>
                    </li>
                    
                  </ul>
                </div>
              </div>

              <div id="key-asset" style="display: none;">
                <div class="assets">
                  <ul>
                  <!-- bind the gallery data -->
                    <li v-for="sound in sounds"> <div class="asset"><img v-bind:src="'../../'+sound.src"> </div><p v-html='sound.name'></p>
                    </li>
                    <li v-for="sound in importedSounds"> <div class="asset"><img v-bind:src='sound.src'> </div><p v-html='sound.name'></p>
                    </li>  
                  </ul>
                </div>
              </div>
            </div>
          </div>
            <div id="object-list" style="float:left; margin:10px; position: relative !important; display: inline-block !important;  height:500px !important; width: 15% !important; left:0 !important;" >
            <h6 class="window-title" >OBJECT LIST</h6>
            <!-- if show object list on -->
            <ol v-if='projectLoaded' class="object-tree">
              <li v-for="scene in sceneList">
                <!-- loop all scenes and objects 
                <label class="object_label" v-html="scene.name"></label>
                <input type="checkbox" /> -->
                <i class="down" onclick="showListView(event)"></i><button v-html="scene.name" v-on:click="onSceneSelect(scene)"></button>
                <ol class="object_label" style="display:block;">
                  <li v-for="object in objectList" v-on:click="onObjectSelect(object)" v-if="object.bindScene.id == scene.id">
                    <!--<label class="object_label" v-html="object.name"></label>
                    <input type="checkbox"/>-->
                    <button v-html="object.name" v-on:dblclick='deleteObject(object)'></button>
                  </li>           
                </ol>
              </li>
              <!--li>
                <label class="object_label" for="inventory">Inventory</label>
              </li-->
            </ol>
          </div>

        </div>

   <button class="sys-button" onclick="goSkip()"> Skip </button>
   <button class="sys-button" onclick="goToNext()" > Next </button>
   <button class="sys-button" onclick="goBack()"> Back </button>
 </div>


 <div id="step_3" style="display: none;margin-top:10%;
  margin-left:2%;

  ">
  <h6 class="window-title" style="display: inline-block; color:#ffc107; font-size: 1.5em !important;">Let's create the first interaction box! Think about how to win or finish the game.</h6> 
  <div>
    <div id="interaction-editor" style="float:left; display: inline-block !important; position: relative !important; width:65%; height: 500px; margin:10px;">
        <h6 class="window-title">INTERACTION EDITOR</h6>
        <div  class="interaction-box" v-if='viewEnabled' v-for='ntra in interactions' max='true'>

        <div>
          <span ondblclick="editInPlace(event)" class="editInPlace">Title</span>
          <a v-on:click="deleteInteraction(ntra)"><img id="interaction-box-close" src="src/close.png"/></a>
          <a onclick="minimizeWindow(event)"><img id="interaction-box-minimize" min-src="src/minimize.png" max-src="src/maximize.png" src="src/minimize.png"></a>
          
        </div>
        <h6 id="event-box-title" class="window-title">Event</h6>
        <ul class="event-box" v-on:drop='eventDrop(event, ntra)' v-on:dragover='eventDragover(event)'>
          <li>
            <span v-if='ntra.event==null'>Drag an event to here</span>
            <span class="badge badge-pill badge-event" v-else-if='ntra.event.type == 0'>
              When 
              <select v-model="ntra.event.args[0]">
                  <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option>
              </select> is clicked, 
            </span>
            <span class="badge badge-pill badge-event" v-else-if='ntra.event.type == 1'>
              When
              <select v-model="ntra.event.args[0]">
                  <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option>
              </select> 
              is used on
              <select v-model="ntra.event.args[1]">
                  <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option> ,
              </select> 
            </span>              
            <span class="badge badge-pill badge-event" v-else-if='ntra.event.type == 2'>
              When
              <select v-model="ntra.event.args[0]">
                  <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option>
              </select> is observed, 
            </span>              
            <span class="badge badge-pill badge-event" v-else-if='ntra.event.type == 3'>
              When
              <select v-model="ntra.event.args[0]">
                  <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option>
              </select> 
              is combined with
              <select v-model="ntra.event.args[1]">
                  <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option>
              </select> , 
            </span>
          </li>
        </ul>
        <h6 id="condition-box-title" class="window-title">Condition</h6>
        <ul class="condition-box" v-on:drop='stateDrop(event, ntra)' v-on:dragover='stateDragover(event)'>
          <li v-for='cond in ntra.conditionList' v-on:dblclick='removeCondition(cond, ntra)'>
            <span class="badge badge-pill badge-state">
              if <span v-html='cond.name'></span> is 
              <label class="switch"><input type="checkbox" v-model='cond.value'><span class="slider round"></span></label>
            </span>
          </li>

         
        </ul>
        <h6 id="reaction-box-title" class="window-title">Reaction</h6>
        <ul class="reaction-box" v-on:drop='reactionDrop(event, ntra)' v-on:dragover='reactionDragover(event)'>
          <li v-for='react in ntra.reactionList' v-on:dblclick='deleteReaction(react, ntra)'>
            <!--span class="badge badge-pill badge-reaction" v-html='react.template'></span-->
            <span class="badge badge-pill badge-reaction" v-if='react.type == 0'>
                Set state 
                <select v-model="react.args[0]">
<!--                        <option selected>win</option>-->
                    <option v-for="stat in states" v-html="stat.name" v-bind:value="stat"></option>
                </select> to 
                <label class="switch"><input type="checkbox" v-model='react.args[1]'><span class="slider round"></span></label>
            </span>
            
            <span class="badge badge-pill badge-reaction" v-if='react.type == 1'>
                Go to scene 
                <select v-model="react.args[0]">
                    <option v-for="scene in scenes" v-html="scene.name" v-bind:value="scene"></option>
                </select>
            </span>
            
            <span class="badge badge-pill badge-reaction" v-if='react.type == 2'>
                Add 
                <select v-model="react.args[0]">
                    <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option>
                </select> into inventory
            </span>
            
            <span class="badge badge-pill badge-reaction" v-if='react.type == 3'>
                Remove 
                <select v-model="react.args[0]">
                    <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option>
                </select> out of inventory
            </span>
            
            <span class="badge badge-pill badge-reaction" v-if='react.type == 4'>
                Make 
                <select v-model="react.args[0]">
                    <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option>
                </select> visible
            </span>
            
            <span class="badge badge-pill badge-reaction" v-if='react.type == 5'>
                Make 
                <select v-model="react.args[0]">
                    <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option>
                </select> invisible
            </span>
            
            <span class="badge badge-pill badge-reaction" v-if='react.type == 6'>
                Make 
                <select v-model="react.args[0]">
                    <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option>
                </select> interactive
            </span>
            
            <span class="badge badge-pill badge-reaction" v-if='react.type == 7'>
                Make 
                <select v-model="react.args[0]">
                    <option v-for="obj in objects" v-html="obj.name" v-bind:value="obj"></option>
                </select> not interactive
            </span>
            
            <span class="badge badge-pill badge-reaction" v-if='react.type == 8'>
                Show dialog
                <input v-model='react.args[0]'/>
            </span>

            <span class="badge badge-pill badge-reaction" v-if='react.type == 9'>
                Play sound
                <select v-model="react.args[0]">
                    <option v-for="sound in sounds" v-html="sound.name" v-bind:value="sound"></option>
                </select>
            </span>
          </li>
        </ul>
      </div>
       <div id="add-interaction">
        <!--button type="button"  class="btn btn-outline-success btn-sm" id="add-interaction-button" v-on:click='addInteraction()'> Add Interaction </button-->
        <a v-on:click='addInteraction()'><img src="./src/add-interaction.svg" class="svg" width="70" height="70"/></a>
      </div>
      </div>
      
    </div>

  <div id="interaction-library" style="float:left; display: inline-block !important; position: relative !important; width:25%; height: 500px; margin:10px;">
        <h6 class="window-title">INTERACTION LIBRARY</h6>
        <div id="event-library"><h6 class="window-title">Event</h6>
          <ul id="event-list" v-if='viewEnabled'>
            <li v-for='em in events'>
              <span class="badge badge-pill badge-event" v-on:dragstart='eventDragstart(event, em.type)' draggable="true" v-html='em.name'></span>
            </li>
          </ul>
        </div>
        <div id="state-library">
        <h6 class="window-title">State</h6>
        <div id="add-state"><button type="button" class="badge badge-pill badge-state-button" id="add-state-button" v-on:click='newState()'>Add</button></div>
          <ul id="state-list" v-if='viewEnabled'>
            <li v-for='state in states' v-on:dblclick='deleteState(state)'>
              <span class="badge badge-pill badge-state" v-on:dragstart='stateDragstart(event, state)' draggable="true">
                <span v-html='state.name'>helllo</span>
                &nbsp;&nbsp;

                <label class="switch"><input type="checkbox" v-model='state.value'><span class="slider round"></span></label>
                <!--<input type="checkbox" v-model='state.value'>-->
              </span>
            </li> 
          </ul>

        </div>
        <div id="reaction-library"><h6 class="window-title">Reaction</h6>
          <ul id="reaction-list" v-if='viewEnabled'>
            <li v-for='rm in reactions'>
              <span class="badge badge-pill badge-reaction" v-on:dragstart='reactionDragstart(event, rm.type)' draggable="true" v-html='rm.name'></span>
            </li>
          </ul>
        </div>
      </div>
    
  <button class="sys-button" onclick="goSkip()"> Skip </button>
   <button class="sys-button" onclick="goToNext()" > Next </button>
   <button class="sys-button" onclick="goBack()"> Back </button>
 </div>



 <div id="step_4" style="display: none;">
  <button class="sys-button" onclick="goSkip()"> Skip </button>
   <button class="sys-button" onclick="goToNext()" > Next </button>
   <button class="sys-button" onclick="goBack()"> Back </button>
 </div>
 </div>





  
</body>
</html>